body { color: white; background: black; }
body { margin-left: 0%; margin-right: 10%; }

ul.redline {
padding-left: 0.2em;
border-left: solid;
border-right: none;
border-top: none;
border-bottom: none;
border-left-width: thin;
border-color: red;
}

img.bg{
position:absolute;
right:50;
bottom:20;
}